<div class="main-content">
    <div class="container-fluid">
            




        <div class="panel panel-primary">
            <div class="panel-heading">
              <h2>Providers List</h2>
            </div>



            


            
                <a routerLink="/create-provider" routerLinkActive= "active" class="btn btn-success stretched-link">Add provider</a>
            



            <div class="panel-body">
              <table class="table table-striped"  cellspacing="0" width="100%">
        
                <thead>
                  <tr>
                    <th >UserName</th>
                    <th >FirstName</th>
                    <th >LastName</th>
                    <th >Email</th>
                    <th >Address</th>
                    <th>City</th>
                    <th>PhoneNumber</th>
                    <th>Actions</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let provider of provideers">
                    <td>{{provider.userName}}</td>
                    <td>{{provider.firstName}}</td>
                    <td>{{provider.lastName}}</td>
                    <td>{{provider.email}}</td>
                    <td>{{provider.adresse}}</td>
                    <td>{{provider.ville}}</td>
                    <td>{{provider.phoneNumber}}</td>
                    <td>
                      
                      
                      <button class="btn btn-info btn-sm rounded-0" (click)="updateProvider(provider.id)" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>


                        <button class="btn btn-danger btn-sm rounded-0"  (click)="deleteProvider(provider.id)" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        
                        
                        
                      </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>




         
      
    </div>
</div>